html, body, .container, #storybook-root {
  box-sizing: border-box;
  height: 100%;
}

body {
  padding: 0 !important;
  margin: 0 !important;
}

h1, h2 {
  margin: 0;
  padding: 20px 0;
  text-align: center;
}

#root, .page {
  height: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  height: 100%;
}

.column {
  position: relative;
  width: 300px;
  height: 100%;
  margin: auto;
  box-sizing: border-box;
  outline: 2px dashed red;

  h1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  & .scroll-area {
    height: 100%;
    overflow-y: scroll;
    position: relative;

    &--distant {
      margin-top: 100px;
      border-top: 2px solid blue;
    }
  }
}


.block {
  max-width: 400px;
  overflow: hidden;
  position: relative;

  .sticky {
    z-index: 2;
  }

  h2 {
    line-height: 30px;
    &.header {
      background: #577796;
    }
    &.footer {
      background: #612624;
    }
  }

  p {
    font-size: 1.5em;
    margin: 0;
    background: #BEC6D7;
  }
}

.reserved-space {
  background: lightgray;
  text-align: center;
  padding: 30px 0;

  p {
    padding: 0 10px;
  }

  &.huge {
    padding: 100vh 0;
  }
}


.navigation a {
  display: block;
  padding: 0.5rem;
}

.header {
  padding: 1rem;
  background: #577796;
}

.sticky .header {
  padding: 0.5rem;
}

.sticky .header h2 {
  text-align: left;
  font-size: 1rem;
}

.sticky .header h3 {
  display: none;
}